@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@font-face {
  font-family: "Cinzel";
  font-weight: 400 900;
  font-style: normal;
  src: url("/fonts/Cinzel.ttf");
  font-display: swap;
}
